<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="activeTab === 'users'"
        (click)="onTabChange('users')"
      >
        Users
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="activeTab === 'friends'"
        (click)="activeTab = 'friends'"
        (click)="onTabChange('friends')"
      >
        Friends
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="activeTab === 'requests'"
        (click)="onTabChange('requests')"
      >
        Friend Requests
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [class.active]="activeTab === 'invites'"
        (click)="onTabChange('invites')"
      >
        Friend Invites
      </a>
    </li>
  </ul>

  <div [hidden]="activeTab !== 'users'">
    <user-table
      [userSearchCriteria]="usersSearchCriteria"
      [users$]="users$"
      [total$]="total$"
      (fetchUsers)="fetchAllUsers(usersSearchCriteria)"
      ><app-icon
        #addFriendIconComponent
        [iconClass]="'fa-solid fa-user-plus'"
        [title]="'Add Friend'"
        class="app-icon"
        (iconClick)="addFriend($event.userId, $event.connectionId)"
      >
        ></app-icon
      ></user-table
    >
  </div>

  <div [hidden]="activeTab !== 'friends'">
    <user-table
      [userSearchCriteria]="friendsSearchCriteria"
      [users$]="friends$"
      [total$]="totalFriends$"
      (fetchUsers)="fetchFriends(friendsSearchCriteria)"
      ><app-icon
        #addFriendIconComponent
        [iconClass]="'a-sharp fa-solid fa-xmark'"
        [title]="'Remove Friend'"
        (iconClick)="removeFriend($event.userId, $event.connectionId)"
      ></app-icon
    ></user-table>
  </div>

  <div [hidden]="activeTab !== 'requests'">
    <user-table
      [userSearchCriteria]="requestsSearchCriteria"
      [users$]="requests$"
      [total$]="totalRequests$"
      (fetchUsers)="fetchFriendRequestsSendFromUser(requestsSearchCriteria)"
      ><app-icon
        #addFriendIconComponent
        [iconClass]="'a-sharp fa-solid fa-xmark'"
        [title]="'Cancel Friend Request'"
        (iconClick)="
          changeStatusOfFriendRequest($event.userId, $event.connectionId)
        "
      ></app-icon
    ></user-table>
  </div>

  <div [hidden]="activeTab !== 'invites'">
    <user-table
      [userSearchCriteria]="invitesSearchCriteria"
      [users$]="invites$"
      [total$]="totalInvites$"
      (fetchUsers)="fetchFriendInvitesReceivedForUser(invitesSearchCriteria)"
    >
      <app-icon
        #addFriendIconComponent
        [iconClass]="'fa-sharp fa-solid fa-check'"
        [title]="'Accept Friend Request'"
        (iconClick)="
          changeStatusOfFriendRequest($event.userId, $event.connectionId)
        "
      >
        ></app-icon
      >
      <app-icon
        #addFriendIconComponent
        [iconClass]="'a-sharp fa-solid fa-xmark'"
        [title]="'Cancel Friend Request'"
        (iconClick)="
          changeStatusOfFriendRequest($event.userId, $event.connectionId)
        "
      >
        ></app-icon
      >
    </user-table>
  </div>
</div>
