<text-input></text-input>
<ul
  ngbNav
  #nav="ngbNav"
  [(activeId)]="active"
  [destroyOnHide]="false"
  class="nav-tabs"
>
  <li [ngbNavItem]="1">
    <button ngbNavLink (click)="onTabChange('friends')">Friends</button>
    <ng-template ngbNavContent>
      <sidebar
        [friends]="friends"
        (userSelected)="onUserSelected($event)"
      ></sidebar>
    </ng-template>
  </li>
  <li [ngbNavItem]="2" [destroyOnHide]="true">
    <button ngbNavLink (click)="onTabChange('channels')">Channels</button>
    <ng-template ngbNavContent>
      <sidebar
        [channels]="channels"
        [isChannel]="true"
        (channelSelected)="onChannelSelected($event)"
      ></sidebar>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
