<ul
  ngbNav
  #nav="ngbNav"
  [(activeId)]="active"
  [destroyOnHide]="false"
  class="nav-tabs"
>
  <li [ngbNavItem]="SidebarMenu.FRIENDS">
    <button ngbNavLink (click)="onTabChange(SidebarMenu.FRIENDS)">
      Friends
    </button>
    <ng-template ngbNavContent>
      <sidebar
        [friends]="friends"
        (userSelected)="onUserSelected($event)"
      ></sidebar>
    </ng-template>
  </li>
  <li [ngbNavItem]="SidebarMenu.CHANNELS" [destroyOnHide]="true">
    <button ngbNavLink (click)="onTabChange(SidebarMenu.CHANNELS)">
      Channels
    </button>
    <ng-template ngbNavContent>
      <sidebar
        [channels]="channels"
        [isChannel]="true"
        (channelSelected)="onChannelSelected($event)"
        (fetchChannels)="onChannelCreated()"
      ></sidebar>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
