<div
  class="user-table-container"
  [ngClass]="{ scrollable: isScrollable }"
  (scroll)="isScrollable ? onScroll($event) : null"
  style="max-height: 500px; overflow-y: auto"
>
  <form>
    <div class="mb-3 row">
      <label
        for="table-complete-search"
        class="col-xs-3 col-sm-auto col-form-label"
        >Search by username:</label
      >
      <div class="col-xs-3 col-sm-auto">
        <input
          id="table-complete-search"
          type="text"
          class="form-control"
          name="searchTerm"
          [(ngModel)]="userSearchCriteria.searchKeyword"
          (ngModelChange)="onSearchChange()"
        />
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" sortable="username" (sort)="onSort($event)">
            Username
          </th>
          <th scope="col" sortable="email" (sort)="onSort($event)">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$; trackBy: trackById">
          <th scope="row">{{ user.id }}</th>
          <td>
            <ngb-highlight
              [result]="user.username"
              [term]="userSearchCriteria.searchKeyword"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="user.email"
              [term]="userSearchCriteria.searchKeyword"
            />
          </td>
          <td>
            <ng-container *ngIf="currentUser?.id !== user.id">
              <ng-container *ngFor="let icon of icons">
                <button
                  (click)="
                    icon.iconClick.emit({
                      userId: user.id,
                      connectionId: user.connectionId
                    })
                  "
                  class="btn btn-link"
                >
                  <i [class]="icon.iconClass" [title]="icon.title"></i>
                </button>
              </ng-container>
            </ng-container>
          </td>
        </tr>
        <tr *ngIf="!users$.length">
          <td colspan="4" style="text-align: center">No users found</td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="!isScrollable" class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="total$"
        [(page)]="userSearchCriteria.page"
        [pageSize]="userSearchCriteria.pageSize"
        (pageChange)="onPageChange()"
      >
      </ngb-pagination>
    </div>
  </form>
</div>
