<div class="sidebar">
  <div class="nav-create-button">
    <button class="btn btn-success" (click)="openChannelModal()">Invite</button>
    <channel-invites-modal
      [selectedChannel]="selectedChannel"
      #channelModal
    ></channel-invites-modal>
  </div>
  <div class="nav-create-button">
    <button class="btn btn-success" (click)="openUpdateChannel()">
      Update
    </button>
    <channel-create-modal
      #updateChannelModal
      [selectedChannel]="selectedChannel"
      [channelConnectionRequest]="channelConnectionRequest"
      (saveAction)="updateChannel()"
    ></channel-create-modal>
  </div>
  <button class="btn btn-success" (click)="openChannelModal()">Delete</button>
</div>
