<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Invite Users</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <user-table
      [userSearchCriteria]="searchCriteria"
      [users$]="users$"
      [total$]="total$"
      [fetchUsers]="fetchAllUsers"
      [totalPages$]="totalPages$"
      ><app-icon
        #addFriendIconComponent
        [iconClass]="'fa-sharp fa-solid fa-plus'"
        [title]="'Add Friend'"
        class="app-icon"
        (iconClick)="addToChannel($event.userId)"
      >
        ></app-icon
      ></user-table
    >
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.close('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>
