<div class="container">
  <div class="sidebar-container">
    <tabs
      [friends]="users"
      [channels]="channels"
      (fetchFriends)="fetchFriends()"
      (fetchChannels)="fetchChannels()"
      (userSelected)="setSelectedUser($event)"
      (channelSelected)="setSelectedChannel($event)"
      (selectTab)="onTabChange($event)"
    ></tabs>
  </div>
  <div class="content-container">
    @if(users.length == 0 && selectedTab == SidebarMenu.FRIENDS){
    <h3>No friends</h3>
    } @else if(channels.length == 0 && selectedTab == SidebarMenu.CHANNELS){
    <h3>No channels</h3>
    }@else {
    <h2>
      <div ngbAccordion>
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader class="channel-title">
            <button ngbAccordionButton>{{ selectedChannel?.name }}</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <span class="accordion-body-description">Description:</span>
              <span>{{ selectedChannel?.description }}</span>
              <span class="accordion-body-description">Created On:</span>
              <span>{{
                selectedChannel?.createdOn | date : "dd/MM/yyyy"
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </h2>
    <ul class="message-list">
      @for (message of historyMessages; track message) {
      <li
        [class.me]="message.sender.id === userId"
        [class.other]="message.sender.id !== userId"
      >
        <div class="message-content">
          <div class="message-info">
            <span class="message-username">{{ message.sender.username }} </span>
            <span class="message-date"> {{ message.createdOn }}</span>
          </div>
          <span
            class="message-text"
            [innerHTML]="formatMessage(message.content)"
          ></span>
        </div>
      </li>
      } @for(message of messages; track message) {
      <li
        [class.me]="message.sender.id === userId"
        [class.other]="message.sender.id !== userId"
      >
        <div class="message-content">
          <div class="message-info">
            <span class="message-username">{{ message.sender.username }} </span>
            <span class="message-date"> {{ message.createdOn }}</span>
          </div>
          <span
            class="message-text"
            [innerHTML]="formatMessage(message.content)"
          ></span>
        </div>
      </li>
      }
    </ul>
    <div class="message-input">
      <textarea
        [(ngModel)]="message"
        placeholder="Type a message"
        (keydown)="onKeyDown($event)"
        rows="3"
        style="resize: none"
      ></textarea>
      <button (click)="sendMessageWithPayload()">Send</button>
    </div>
    }
  </div>
  @if (selectedTab == SidebarMenu.CHANNELS) {
  <div class="channel-settings-container">
    <channel-settings [selectedChannel]="selectedChannel"></channel-settings>
    <ul class="members-container">
      @for(member of selectedChannel?.members; track member) {
      <div
        class="member"
        (click)="openUserProflie(member.userId, selectedChannel?.id)"
      >
        <i class="fa-solid fa-user"></i>
        <li class="members-username">
          {{ member.username }}
        </li>
        <user-profile #userProfile [user]="userWithProfile"></user-profile>
      </div>

      }
    </ul>
  </div>
  }
</div>
