<div class="container">
  <div class="sidebar-container">
    <tabs
      [friends]="users"
      [channels]="channels"
      (fetchFriends)="fetchFriends()"
      (fetchChannels)="fetchChannels()"
      (userSelected)="setSelectedUser($event)"
      (channelSelected)="setSelectedChannel($event)"
    ></tabs>
  </div>
  <div class="content-container">
    <h2>{{ selectedChannel?.name }}</h2>
    <ul class="message-list">
      @for(message of historyMessages; track message) {
      <li>{{ message }}</li>
      } @for(message of messages; track message) {
      <li>{{ message }}</li>
      }
    </ul>
    <div class="message-input">
      <input [(ngModel)]="message" placeholder="Type a message" />
      <button (click)="sendMessageWithPayload()">Send</button>
    </div>
  </div>
  <div class="channel-settings-container">
    <channel-settings [selectedChannel]="selectedChannel"></channel-settings>
  </div>
</div>
